
[Unit]
Description=Kaorukostream
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/htb/dev/kaorukostream/
Restart=always

[Install]
WantedBy=default.target
