[submodule "packs/nvim/files/.config/nvim"]
	path = packs/nvim/files/.config/nvim
	url = git@github.com:HASHTAGTB/kickstart.nvim.git
[submodule "packs/nvim/files/.config/nvim.own"]
	path = packs/nvim/files/.config/nvim.own
	url = git@github.com:HASHTAGTB/kickstart.nvim.git
	branch = own
[submodule "packs/media/files/.config/mpv/scripts/thumbfast_repo"]
	path = packs/media/files/.config/mpv/scripts/thumbfast_repo
	url = https://github.com/po5/thumbfast.git
[submodule "packs/zsh/files/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = packs/zsh/files/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "packs/zsh/files/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = packs/zsh/files/.oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "packs/zsh/files/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = packs/zsh/files/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "packs/zsh/files/.oh-my-zsh/custom/plugins/zsh-history-substring-search"]
	path = packs/zsh/files/.oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "packs/zsh/files/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = packs/zsh/files/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
