
.theme-dark {
	--accent-h:calc(192/255*360);
	--accent-s:calc(66/255*100%);
	--accent-l:calc(70/255*100%);

  --text-normal:#dee3e5;
  --text-muted:#bfc8cb;
  --text-faint:#899295;

  --background-primary:#0f1416; /* editor and right ribbon */
  --background-secondary:#0f1416; /* left ribbon */ 
  --background-modifier-hover:#334a51;
  --background-modifier-active-hover:#b2cbd2;
  --background-modifier-message:#0f1416;
  --background-modifier-form-field:#004e5c;

  --ribbon-background:#0f1416;
  --divider-color:#334a51;
  --scrollbar-thumb-bg:#cee7ee;
  --status-bar-border-color:#334a51;
  --status-bar-background:#0f1416;
  --titlebar-background:#0f1416;
  --titlebar-text-color:#dee3e5;

  --nav-item-color:#bfc8cb;
  --nav-item-color-active:#abedff;
  --nav-item-background-active:#004e5c;
  --nav-item-color-hover:#cee7ee;
  --nav-item-background-hover:#334a51;

  --tab-background-active:#004e5c;
  --tab-text-color-active:#abedff;
  --tab-text-color:#bfc8cb;

  --icon-color:#dee3e5;

  --h1-color:#84d2e6;
  --h2-color: color-mix(in srgb, #84d2e6, #bec4eb);
  --h3-color:#bec4eb;
  --h4-color: color-mix(in srgb, #84d2e6, #b2cbd2);
  --h5-color:#b2cbd2;
  --h6-color: color-mix(in srgb, #bec4eb, #b2cbd2);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dee3e5;
  background:#0f1416;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dee3e5;
  background:#0f1416;
}

.theme-dark .workspace-tab-header-container{
  background:#0f1416;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(188/255*360);
	--accent-s:calc(100/255*100%);
	--accent-l:calc(23/255*100%);

  --text-normal:#171c1e;
  --text-muted:#3f484b;
  --text-faint:#70797b;

  --background-primary:#f5fafc; /* editor and right ribbon */
  --background-secondary:#d5dbdd; /* left ribbon */ 
  --background-modifier-hover:#cee7ee;
  --background-modifier-active-hover:#4b6269;
  --background-modifier-message:#d5dbdd;
  --background-modifier-form-field:#abedff;

  --ribbon-background:#f5fafc;
  --divider-color:#cee7ee;
  --scrollbar-thumb-bg:#061f24;
  --status-bar-border-color:#cee7ee;
  --status-bar-background:#f5fafc;
  --titlebar-background:#f5fafc;
  --titlebar-text-color:#171c1e;

  --nav-item-color:#3f484b;
  --nav-item-color-active:#001f26;
  --nav-item-background-active:#abedff;
  --nav-item-color-hover:#061f24;
  --nav-item-background-hover:#cee7ee;

  --tab-background-active:#abedff;
  --tab-text-color-active:#001f26;
  --tab-text-color:#3f484b;

  --icon-color:#171c1e;

  --h1-color:#006879;
  --h2-color: color-mix(in srgb, #006879, #565d7e);
  --h3-color:#565d7e;
  --h4-color: color-mix(in srgb, #006879, #4b6269);
  --h5-color:#4b6269;
  --h6-color: color-mix(in srgb, #565d7e, #4b6269);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#171c1e;
  background:#f5fafc;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#171c1e;
  background:#f5fafc;
}

.theme-light .workspace-tab-header-container{
  background:#f5fafc;
}
