
.theme-dark {
	--accent-h:calc(185/255*360);
	--accent-s:calc(57/255*100%);
	--accent-l:calc(68/255*100%);

  --text-normal:#dee4e4;
  --text-muted:#bec8c9;
  --text-faint:#899294;

  --background-primary:#0e1415; /* editor and right ribbon */
  --background-secondary:#0e1415; /* left ribbon */ 
  --background-modifier-hover:#324b4e;
  --background-modifier-active-hover:#b1cbce;
  --background-modifier-message:#0e1415;
  --background-modifier-form-field:#004f55;

  --ribbon-background:#0e1415;
  --divider-color:#324b4e;
  --scrollbar-thumb-bg:#cce7eb;
  --status-bar-border-color:#324b4e;
  --status-bar-background:#0e1415;
  --titlebar-background:#0e1415;
  --titlebar-text-color:#dee4e4;

  --nav-item-color:#bec8c9;
  --nav-item-color-active:#9df0f9;
  --nav-item-background-active:#004f55;
  --nav-item-color-hover:#cce7eb;
  --nav-item-background-hover:#324b4e;

  --tab-background-active:#004f55;
  --tab-text-color-active:#9df0f9;
  --tab-text-color:#bec8c9;

  --icon-color:#dee4e4;

  --h1-color:#81d4dd;
  --h2-color: color-mix(in srgb, #81d4dd, #b8c6ea);
  --h3-color:#b8c6ea;
  --h4-color: color-mix(in srgb, #81d4dd, #b1cbce);
  --h5-color:#b1cbce;
  --h6-color: color-mix(in srgb, #b8c6ea, #b1cbce);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dee4e4;
  background:#0e1415;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dee4e4;
  background:#0e1415;
}

.theme-dark .workspace-tab-header-container{
  background:#0e1415;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(184/255*360);
	--accent-s:calc(100/255*100%);
	--accent-l:calc(22/255*100%);

  --text-normal:#161d1d;
  --text-muted:#3f484a;
  --text-faint:#6f797a;

  --background-primary:#f5fafb; /* editor and right ribbon */
  --background-secondary:#d5dbdc; /* left ribbon */ 
  --background-modifier-hover:#cce7eb;
  --background-modifier-active-hover:#4a6365;
  --background-modifier-message:#d5dbdc;
  --background-modifier-form-field:#9df0f9;

  --ribbon-background:#f5fafb;
  --divider-color:#cce7eb;
  --scrollbar-thumb-bg:#051f22;
  --status-bar-border-color:#cce7eb;
  --status-bar-background:#f5fafb;
  --titlebar-background:#f5fafb;
  --titlebar-text-color:#161d1d;

  --nav-item-color:#3f484a;
  --nav-item-color-active:#002023;
  --nav-item-background-active:#9df0f9;
  --nav-item-color-hover:#051f22;
  --nav-item-background-hover:#cce7eb;

  --tab-background-active:#9df0f9;
  --tab-text-color-active:#002023;
  --tab-text-color:#3f484a;

  --icon-color:#161d1d;

  --h1-color:#006971;
  --h2-color: color-mix(in srgb, #006971, #505e7d);
  --h3-color:#505e7d;
  --h4-color: color-mix(in srgb, #006971, #4a6365);
  --h5-color:#4a6365;
  --h6-color: color-mix(in srgb, #505e7d, #4a6365);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#161d1d;
  background:#f5fafb;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#161d1d;
  background:#f5fafb;
}

.theme-light .workspace-tab-header-container{
  background:#f5fafb;
}
